@model iBoss.Models.Entities.Admin.ModelViewAdmin

@{
    ViewData["Title"] = "Create";
}
<style>
    #flex-container {
        display: flex;
        flex-wrap: wrap;
    }
</style>
    <div class=" list col-sm-9">
        <h1>Create</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" id="flex-container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-5">
                        <label asp-for="CURRENT_FIRST_NAME" class="control-label"></label>
                        <input asp-for="CURRENT_FIRST_NAME" class="form-control" />
                        <span asp-validation-for="CURRENT_FIRST_NAME" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="CURRENT_LAST_NAME" class="control-label"></label>
                        <input asp-for="CURRENT_LAST_NAME" class="form-control" />
                        <span asp-validation-for="CURRENT_LAST_NAME" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="BIRTH_DATE" class="control-label"></label>
                        <input asp-for="BIRTH_DATE" class="form-control" />
                        <span asp-validation-for="BIRTH_DATE" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="CURRENT_ADDRESS_1" class="control-label"></label>
                        <input asp-for="CURRENT_ADDRESS_1" class="form-control" />
                        <span asp-validation-for="CURRENT_ADDRESS_1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="SOCIAL_SECURITY_NUMBER" class="control-label"></label>
                        <input asp-for="SOCIAL_SECURITY_NUMBER" class="form-control" />
                        <span asp-validation-for="SOCIAL_SECURITY_NUMBER" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">

                        <label asp-for="CURRENT_GENDER" class="control-label"></label>
                        <select class="form-control" asp-for="CURRENT_GENDER">
                            <option value="True">Female</option>
                            <option value="False">Male</option>
                        </select>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="CURRENT_PHONE_NUMBER" class="control-label"></label>
                        <input asp-for="CURRENT_PHONE_NUMBER" class="form-control" />
                        <span asp-validation-for="CURRENT_PHONE_NUMBER" class="text-danger"></span>
                    </div>

                    <div class="form-group col-5">
                        <label asp-for="CURRENT_PERSONAL_EMAIL" class="control-label"></label>
                        <input asp-for="CURRENT_PERSONAL_EMAIL" class="form-control" />
                        <span asp-validation-for="CURRENT_PERSONAL_EMAIL" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="EMPLOYMENT_STATUS" class="control-label"></label>
                        <input asp-for="EMPLOYMENT_STATUS" class="form-control" />
                        <span asp-validation-for="EMPLOYMENT_STATUS" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="HIRE_DATE_FOR_WORKING" class="control-label"></label>
                        <input asp-for="HIRE_DATE_FOR_WORKING" class="form-control" />
                        <span asp-validation-for="HIRE_DATE_FOR_WORKING" class="text-danger"></span>
                    </div>

                    <div class="form-group col-5">
                        <label class="control-label">Pay Rate</label>
                        @*<input asp-for="TENPHONGBAN" class="form-control" />
                        <span asp-validation-for="TENPHONGBAN" class="text-danger"></span>*@

                        <select class="form-control" asp-for="PayRatesidPayRates"
                                asp-items="@(new SelectList(ViewBag.getPayRate,"idPayRates","PayRateName"))">
                            <option>Please select one...</option>
                        </select>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="VacationDays" class="control-label"></label>
                        <input asp-for="VacationDays" class="form-control" />
                        <span asp-validation-for="VacationDays" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index"><< Back to List</a>
        </div>
        </div>
