@model iBoss.Models.Entities.Payroll.employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeNumber" />
           
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSN" class="control-label"></label>
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayRate" class="control-label"></label>
                <input asp-for="PayRate" class="form-control" />
                <span asp-validation-for="PayRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pay Rate</label>
                @*<input asp-for="TENPHONGBAN" class="form-control" />
        <span asp-validation-for="TENPHONGBAN" class="text-danger"></span>*@

                <select class="form-control" asp-for="PayRatesidPayRates"
                        asp-items="@(new SelectList(ViewBag.getPayRate,"idPayRates","PayRateName"))">
                    <option>Please select one...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="VacationDays" class="control-label"></label>
                <input asp-for="VacationDays" class="form-control" />
                <span asp-validation-for="VacationDays" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

