@model iBoss.Models.Entities.User.USER
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
    <style>
        .wrap-login100 {
            border-radius: 5px !important;
            box-shadow: 10px 10px 100px #312727;
        }
        .login100-pic img{
            width: 120%;
        }
    </style>
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt">
                    <img src="~/login/images/bosss.png" alt="IMG" style="margin: -25% -10% -11% -30%">
                </div>
               

                <form method="post" class="login100-form validate-form">
                    <div asp-validation-summary="All" class="text-danger">@ViewBag.Error</div>
                    <span class="login100-form-title" style="padding-bottom:20px">
                        Welcome Back !
                    </span>
                    @if (string.IsNullOrEmpty(ViewBag.LTLD))
                    {
                    }
                    else
                    {
                        <p class="text-muted">The last logged in on your system on @ViewBag.LTLD </p>
                    }
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input asp-for="USERNAME" class="input100" type="text" placeholder="Enter ID...">
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input asp-for="PASSWORD" class="input100" placeholder="Password...">
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="#">
                            Username / Password?
                        </a>
                    </div>


                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/login/js/main.js"></script>

</body>
</html>

