USE [HRM]
GO
/****** Object:  Table [dbo].[BENEFIT_PLANS]    Script Date: 18/05/2020 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENEFIT_PLANS](
	[BENEFIT_PLANS_ID] [numeric](18, 0) NOT NULL,
	[PLAN_NAME] [nchar](10) NULL,
	[DEDUCTABLE] [money] NULL,
	[PERCENTAGE_COPAY] [numeric](18, 0) NULL,
 CONSTRAINT [PK_BENEFIT_PLANS] PRIMARY KEY CLUSTERED 
(
	[BENEFIT_PLANS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYMENT]    Script Date: 18/05/2020 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYMENT](
	[EMPLOYMENT_ID] [nvarchar](50) NOT NULL,
	[EMPLOYMENT_STATUS] [nchar](10) NULL,
	[HIRE_DATE_FOR_WORKING] [date] NULL,
	[WORKERS_COMP_CODE] [nchar](10) NULL,
	[TERMINATION_DATE] [date] NULL,
	[REHIRE_DATE_FOR_WORKING] [date] NULL,
	[LAST_REVIEW_DATE] [date] NULL,
	[NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EMPLOYMENT] PRIMARY KEY CLUSTERED 
(
	[EMPLOYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYMENT_WORKING_TIME]    Script Date: 18/05/2020 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYMENT_WORKING_TIME](
	[EMPLOYMENT_WORKING_TIME_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYMENT_ID] [nvarchar](50) NULL,
	[YEAR_WORKING] [date] NULL,
	[MONTH_WORKING] [numeric](2, 0) NULL,
	[NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH] [numeric](2, 0) NULL,
	[TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH] [numeric](2, 0) NULL,
 CONSTRAINT [PK_EMPLOYMENT_WORKING_TIME] PRIMARY KEY CLUSTERED 
(
	[EMPLOYMENT_WORKING_TIME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_HISTORY]    Script Date: 18/05/2020 2:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_HISTORY](
	[JOB_HISTORY_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYMENT_ID] [nvarchar](50) NULL,
	[DEPARTMENT] [nvarchar](250) NULL,
	[DIVISION] [nvarchar](250) NULL,
	[FROM_DATE] [date] NULL,
	[THRU_DATE] [date] NULL,
	[JOB_TITLE] [nvarchar](250) NULL,
	[SUPERVISOR] [nvarchar](250) NULL,
	[LOCATION] [nvarchar](250) NULL,
	[TYPE_OF_WORK] [smallint] NULL,
 CONSTRAINT [PK_JOB_HISTORY] PRIMARY KEY CLUSTERED 
(
	[JOB_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAL]    Script Date: 18/05/2020 2:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[PERSONAL_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[CURRENT_FIRST_NAME] [nvarchar](50) NULL,
	[CURRENT_LAST_NAME] [nvarchar](max) NULL,
	[CURRENT_MIDDLE_NAME] [nvarchar](50) NULL,
	[BIRTH_DATE] [date] NULL,
	[SOCIAL_SECURITY_NUMBER] [nvarchar](20) NULL,
	[DRIVERS_LICENSE] [nvarchar](50) NULL,
	[CURRENT_ADDRESS_1] [nvarchar](255) NULL,
	[CURRENT_ADDRESS_2] [nvarchar](255) NULL,
	[CURRENT_CITY] [nvarchar](100) NULL,
	[CURRENT_COUNTRY] [nvarchar](100) NULL,
	[CURRENT_ZIP] [numeric](18, 0) NULL,
	[CURRENT_GENDER] [nvarchar](20) NULL,
	[CURRENT_PHONE_NUMBER] [nvarchar](15) NULL,
	[CURRENT_PERSONAL_EMAIL] [nvarchar](50) NULL,
	[CURRENT_MARITAL_STATUS] [nvarchar](50) NULL,
	[ETHNICITY] [nchar](10) NULL,
	[SHAREHOLDER_STATUS] [smallint] NULL,
	[BENEFIT_PLAN_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PERSONAL] PRIMARY KEY CLUSTERED 
(
	[PERSONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLOYMENT_WORKING_TIME]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYMENT_WORKING_TIME_EMPLOYMENT] FOREIGN KEY([EMPLOYMENT_ID])
REFERENCES [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID])
GO
ALTER TABLE [dbo].[EMPLOYMENT_WORKING_TIME] CHECK CONSTRAINT [FK_EMPLOYMENT_WORKING_TIME_EMPLOYMENT]
GO
ALTER TABLE [dbo].[JOB_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_JOB_HISTORY_EMPLOYMENT] FOREIGN KEY([EMPLOYMENT_ID])
REFERENCES [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID])
GO
ALTER TABLE [dbo].[JOB_HISTORY] CHECK CONSTRAINT [FK_JOB_HISTORY_EMPLOYMENT]
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_BENEFIT_PLANS] FOREIGN KEY([BENEFIT_PLAN_ID])
REFERENCES [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID])
GO
ALTER TABLE [dbo].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_BENEFIT_PLANS]
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_EMPLOYMENT] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID])
GO
ALTER TABLE [dbo].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_EMPLOYMENT]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MÃ CÔNG VIỆC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EMPLOYMENT', @level2type=N'COLUMN',@level2name=N'WORKERS_COMP_CODE'
GO
